
name: Java CI with Maven-2

on:
 workflow_dispatch:
#   push:
#     branches: master
#     paths:
#       'Folder2/**'
#   schedule:
#     - cron: "*/4 * * * *"

jobs:
  build:

    runs-on: self-hosted
#     environment: 'Prod'
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: maven
#     - name: Build with Maven
#       run: mvn -B package --file Folder2/pom.xml
    - name: Build and analyze
      uses: sonarsource/sonarqube-scan-action@master
      with:
       githubToken: ${{ secrets.GH_TOKEN }}
       host: ${{ secrets.SONAR_HOST_URL }}
       token: ${{ secrets.SONAR_TOKEN }}
       projectKey: "JD-test"
       projectName: "JD-test"
#     - name: SonarQube Scan
#       uses: sonarsource/sonarqube-scan-action@master
#       env:
#         SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
#         SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}


       

