
name: Java CI with Maven

on:
  push:
    branches: master
    paths:
      'Folder1/**'

jobs:
  build:

    runs-on: self-hosted
#     environment: 'Staging'
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn -B package --file Folder1/pom.xml
