name: addS3BucketAWS
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@master
      - name: AWS CLI
        id: install-aws-cli
        uses: unfor19/install-aws-cli-action@master
      - run: aws --version
        shell: bash
        
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@13d241b293754004c80624b5567555c4a39ffbe3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
         role-to-assume: arn:aws:iam::917342262994:role/Add-policy-s3-create
         role-session-name: GitHubActions
         role-duration-seconds: 1200
         role-skip-session-tagging: true
         aws-region: us-west-2
      - name: Upload to S3
        run: aws s3api create-bucket --bucket s3bucket0107 --region us-west-2 --create-bucket-configuration LocationConstraint=us-west-2 --object-lock-enabled-for-bucket








      

